<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <button (click)="collapsed = !collapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" id="navbarCollapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="/auth" routerLinkActive="active">Authenticate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link">Logout</a>
          </li>

          <li class="nav-item dropdown" *ngIf="isAuthenticated">
            <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" appDropdown>
              Manage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
<!--              <li><hr class="dropdown-divider"></li>-->
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ul>

<!--        <form class="d-flex">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
      </div>
    </div>
  </nav>
</header>
