<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">

    <div class="list-group">
      <!-- the css classes 'list-group-item list-group-item-action' must be a direct child of 'list-group' to make css-bootstrap work -->
      <app-recipe-item
        class="list-group-item list-group-item-action"
        *ngFor="let recipeEl of recipes"
        [recipe]="recipeEl"
        (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item>
    </div>

  </div>
</div>
